.hero {
  padding-top: 200px;
}

.splide__pagination__page {
  margin-left: 50px;
  margin-bottom: -180px;
  background-color: #007a9a;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 180px;
}

.splide__pagination {
  margin-left: -80px;
}

@media (max-width: 1320px) {
  .splide__pagination {
    margin-left: -160px;
  }
}

@media (max-width: 890px) {
  .splide__pagination {
    margin-left: -70px;
  }
}
