.news-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 150px;
  row-gap: 100px;
  margin-bottom: 90px;
}

.news__wrapper--wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-bottom: 2px solid #b6e4f1;
  border-top: 2px solid #b6e4f1;
  margin-bottom: 150px;
  padding-top: 130px;
  margin-top: -40px;
  border-radius: 50%;
}

.news__link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  font-family: "Manrope";
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}
