.new__prod--container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 60px;
}

.new__prod--link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  font-family: "Manrope";
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.new__link--icon {
  padding: 10px;
  background-color: #007a9a;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 8px;
}
.new__link--icon:hover {
  background-color: #39b6cf;
}
